{
  "connectionString": "MONGODB_URI",
  "database": "TorrentDownload",
  "collection": "hash",
  "poolingTime": 30,
  "bittorrent_path": "C:\\Program Files\\qBittorrent\\",
  "bittorrent_exec": "qbittorrent.exe",
  "bittorrent_addr": "http://localhost:8888",
  "bittorrent_add_uri": "/api/v2/torrents/add",
  "bittorrent_check_uri": "/api/v2/torrents/files?hash=",
  "verifyTorrentTime": 15
}
